input[type=text], select {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline:none;
  }

.form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}